
<div style="Margin-left: 20px;Margin-right: 20px;Margin-top: 20px;">
    <div style="mso-line-height-rule: exactly;mso-text-raise: 11px;vertical-align: middle;">
        <h2 style="Margin-top: 0;Margin-bottom: 0;font-style: normal;font-weight: normal;color: #116c93;font-size: 32px;line-height: 40px;font-family: futura,century gothic,corbel,sans-serif;text-align: center;"><span class="font-futura"><strong>FICHA DE INGRESO</strong></span></h2><p style="Margin-top: 16px;Margin-bottom: 20px;text-align: center;">Se ha completado con éxito un nuevo formulario de ingreso: @ViewBag.Empleado .</p>
    </div>
</div>

<div style="Margin-left: 20px;Margin-right: 20px;">
    <div class="btn btn--flat btn--large" style="Margin-bottom: 20px;text-align: center;">
        <![if !mso]><a style="border-radius: 0;display: inline-block;font-size: 14px;font-weight: bold;line-height: 24px;padding: 12px 24px;text-align: center;text-decoration: none !important;transition: opacity 0.1s ease-in;color: #ffffff !important;background-color: #415063;font-family: Futura, Century Gothic, Corbel, sans-serif;" href="@ViewBag.EnlaceDirecto">INGRESAR AL SISTEMA</a><![endif]>
        <!--[if mso]><p style="line-height:0;margin:0;">&nbsp;</p><v:rect xmlns:v="urn:schemas-microsoft-com:vml" href="@ViewBag.EnlaceDirecto" style="width:268px" fillcolor="#415063" stroke="f"><v:textbox style="mso-fit-shape-to-text:t" inset="0px,12px,0px,12px"><center style="font-size:14px;line-height:24px;color:#FFFFFF;font-family:Futura,Century Gothic,Corbel,sans-serif;font-weight:bold;mso-line-height-rule:exactly;mso-text-raise:4px">INGRESAR AL SISTEMA</center></v:textbox></v:rect><![endif]-->
    </div>
</div>

<div style="Margin-left: 20px;Margin-right: 20px;">
    <div style="mso-line-height-rule: exactly;mso-text-raise: 11px;vertical-align: middle;">
        <p style="Margin-top: 0;Margin-bottom: 20px;"><strong>En caso de tener problemas para acceder, por favor copia la siguiente URL en tu navegador.</strong></p>
    </div>
</div>

<div style="Margin-left: 20px;Margin-right: 20px;">
    <div style="mso-line-height-rule: exactly;mso-text-raise: 11px;vertical-align: middle;">
        <blockquote style="Margin-top: 0;Margin-bottom: 20px;Margin-left: 0;Margin-right: 0;padding-left: 14px;border-left: 4px solid #ccc;"><p style="Margin-top: 0;Margin-bottom: 20px;">@ViewBag.EnlaceSecundario</p></blockquote>
    </div>
</div>

