
<div style="Margin-left: 20px;Margin-right: 20px;Margin-top: 20px;">
    <div style="mso-line-height-rule: exactly;mso-text-raise: 11px;vertical-align: middle;text-align: center;">
        <img alt="" style="margin-bottom: 7px;" width="50%" src="https://drive.google.com/uc?id=1sshTqSWKk0dfvU8uDRkF0kYFPK_Kq1AI" />
    </div>
</div>

<div style="Margin-left: 20px;Margin-right: 20px;Margin-top: 20px;">
    <div style="mso-line-height-rule: exactly;mso-text-raise: 11px;vertical-align: middle;">
        <h3 style="Margin-top: 0;Margin-bottom: 0;font-style: normal;font-weight: normal;color: #116c93;font-size: 32px;line-height: 40px;font-family: futura,century gothic,corbel,sans-serif;text-align: center;"><span class="font-futura"><strong>Gracias por participar en nuestra encuesta, ya tenemos a los ganadores publicados.</strong></span></h3>
        <p style="Margin-top: 16px;Margin-bottom: 20px;text-align: justify;">
            Hemos realizado el sorteo de la gift card del estudio que participaste, por favor visitar nuestra página en Facebook
            para ver el sorteo que se realizó en vivo.
        </p>
        <p style="Margin-top: 16px;Margin-bottom: 20px;text-align: justify;">
            Si fuiste uno de los ganadores, felicitaciones!
            Si esta vez no ganaste, muchas gracias por tu apoyo y suerte en una próxima encuesta, somos curiosos y seguiremos
            haciendo encuestas!
        </p>
    </div>
</div>
<div style="Margin-left: 20px;Margin-right: 20px;">
    <div style="mso-line-height-rule: exactly;mso-text-raise: 11px;vertical-align: middle;">
        <p style="Margin-top: 0;Margin-bottom: 20px;">Puedes ingresar a <small>http://www.facebook.com/FOCUSResearchStrategy</small></p>
    </div>
</div>


<div style="Margin-left: 20px;Margin-right: 20px;">
    <div style="mso-line-height-rule: exactly;mso-text-raise: 11px;vertical-align: middle;">
        <p style="Margin-top: 0;Margin-bottom: 20px;"><strong>Si quieres más información de nuestros servicios ingresa a:</strong></p>
    </div>
</div>

<div style="Margin-left: 20px;Margin-right: 20px;">
    <div style="mso-line-height-rule: exactly;mso-text-raise: 11px;vertical-align: middle;">
        <blockquote style="Margin-top: 0;Margin-bottom: 20px;Margin-left: 0;Margin-right: 0;padding-left: 14px;border-left: 4px solid #ccc;"> 
            <p style="Margin-top: 0;Margin-bottom: 20px;">http://www.focusresearch.com.ec</p>
        </blockquote>
    </div>
</div>

