@{
    ViewBag.Title = "Index";
    ViewBag.Description = "Home Page";
}

<center>
    <div class="content" style="padding-top: 150px;padding-bottom: 100px;">
        <br />
        <span style="padding-left: 340px; padding-right: 340px; "><img src="~/Content/img/logofondoqph.png" width="60%" class="img-responsive"" /></span>
    </div>
</center>
